_target_: llm4rec_pytorch_simple.models.mnist_module.MNISTLitModule

optimizer:
  _target_: torch.optim.Adam
  _partial_: true
  lr: 0.001
  weight_decay: 0.0

scheduler:
  _target_: torch.optim.lr_scheduler.ReduceLROnPlateau
  _partial_: true
  mode: min
  factor: 0.1
  patience: 10

net:
  _target_: llm4rec_pytorch_simple.models.archs.SASRec.SASRec
  num_items: 10000
  max_len: 100
  hidden_size: 32
  num_blocks: 32
  num_heads: 4
  dropout: 0.1

configure_optimizers:
  monitor: "val/loss"
  interval: "epoch"
  frequency: 1

# compile model for faster training with pytorch 2.0
torch_compile: false
